<html>
<head>
  <script src="https://unpkg.com/turbolinks@5.2.0/dist/turbolinks.js"></script>
  <script>Turbolinks.start()</script>
</head>
<body>
  <h1>hello world!</h1>

  <a href="/users">Users</a>
</body>
</html>
