<html>
<head>
  <script src="https://unpkg.com/turbolinks@5.2.0/dist/turbolinks.js"></script>
  <script>Turbolinks.start()</script>
</head>
<body>
  <h1>Users</h1>

  <div>
    <a href="/users/1">User #1</a>
  </div>

  <div>
    <a href="/">Back</a>
  </div>
</body>
</html>
